In [1]:
from FinancialManager import FinanceManager
from DatabaseManager import DatabaseManager

In [2]:
finance = FinanceManager()
dbManager = DatabaseManager()

In [9]:
dbManager.createTransactionTable()

Transaction table created successfully.

In [3]:

finance.fetchDataFrame()

Error: no such table: TRANSACTIONS

ProgrammingError: Cannot operate on a closed database.

In [10]:
dbManager.deleteTransactionTable()

Transaction Table dropped